@keyframes titulo {
    0% {transform: translateY(0);}
    50% {transform: translateY(-4px);}
    100% {transform: translateY(0);}
    }
    
    * {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    
    .main-tittle {
        color: rgb(225, 239, 239);
        animation: titulo 5s infinite;
    }
    
    body {
        background-image: url(https://wallpapers.com/images/hd/calculator-2560-x-1440-background-9idet8pma9adeqd5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center ;
        padding: 5%;
        background-color: rgba(255, 255, 255, 0.332);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        z-index: 1;
        min-width: 320px;
    }
    
    .container {
        background-color: #174b5e;
        border-radius: 10px;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
        padding: 20px;
        border: 4px solid rgb(114, 137, 146);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        gap: 15px;
    }
    
    input[type="number"] {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgb(121, 196, 223);
        width: calc(100% - 24px);
    }
    
    select {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgb(93, 109, 115);
        width: 100%;
    }

    
    button, .mode {
        background-color: rgb(121, 196, 223);
        color: rgb(13, 120, 150);
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .mode {
        position: absolute;
        top: 20px;
        margin: auto;
        border: 2px solid black;
        color: white;
    }
    
    button:hover {
        background-color: rgb(230, 236, 240);
    }
    
    #operacoes {
        width: 100px;
    }
    
    p {
        text-align: center;
        text-transform: capitalize;
        font-size: 1.2em;
        color: rgb(121, 196, 223);
        margin-top: 20px;
    }
    
    #area-resultado{
        color: rgb(241, 246, 247);
        font-weight: bold;
    
    }

    #dark .container{
        background-color: black;
        border: 2px solid cyan;
    }

    #dark input {
        border: 2px solid cyan;
        background-color: rgb(148, 147, 147);
    }

    #dark select {
        background-color: black;
        border: 2px solid cyan;
        color: white;
    }

    #dark select:hover {
        background-color: rgba(128, 128, 128, 0.479);
        cursor: pointer;
    }

    #dark #result {
        background-color: black;
        border: 2px ridge cyan;
        color: white;
    }

    #dark #result:hover {
        background-color: rgba(128, 128, 128, 0.479);
    }

    #dark .mode {
        background-color: black;
        border: 2px ridge cyan;
        color: white;
    }


    
